XMLfeladatB0WCKK/XSD_B0WCKK.xsd

<xs:schema attributeFormDefault="unqualified" elementFormDefault="qualified" xmlns:xs="http://www.w3.org/2001/XMLSchema">
    <xs:element name="filmek">
        <xs:complexType mixed="true">
            <xs:sequence>
                <xs:element name="film" maxOccurs="unbounded" minOccurs="0">
                    <xs:complexType>
                        <xs:sequence>
                            <xs:element type="xs:string" name="genre"/>
                            <xs:element name="rendező">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="név"/>
                                        <xs:element type="xs:byte" name="rendezett_filmjei"/>
                                        <xs:element type="xs:short" name="születési_év">
                                        </xs:element>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="főszereplő">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:string" name="név"/>
                                        <xs:element type="xs:byte" name="filmekben_szerepelt"/>
                                        <xs:element type="xs:short" name="születési_év"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                            <xs:element name="értékelés">
                                <xs:complexType>
                                    <xs:sequence>
                                        <xs:element type="xs:float" name="kritikus"/>
                                        <xs:element type="xs:float" name="nézői"/>
                                    </xs:sequence>
                                </xs:complexType>
                            </xs:element>
                        </xs:sequence>
                        <xs:attribute type="xs:string" name="cim" use="optional"/>
                    </xs:complexType>
                </xs:element>
            </xs:sequence>
        </xs:complexType>
    </xs:element>
</xs:schema>

