B0WCKK_1027/szemelyek.xsd

<?xml version="1.0" encoding="UTF-8"?>
<xs:schema xmlns:xs="http://www.w3.org/2001/XMLSchema" elementFormDefault="qualified"> 
    <xs:element name="szemelyek">
        <xs:complexType>
            <xs:sequence>
                <xs:element name="kor" type="xs:integer"/>
                <xs:element name="nev" type="xs:string"/>
                <xs:element name="varos" type="xs:string"/>
            </xs:sequence>
        </xs:complexType>
    </xs:element>




</xs:schema>
